<m-videochat></m-videochat>

<header *ngIf="group && (group['is:member'] || group.membership == 2)"
  [ngClass]="[ 'm-group--' + filter + '-view' ]"
  [class.m-group--view-mode]="!editing"
>
  <minds-banner [object]="group" [editMode]="editing" [top]="group.banner_position" [done]="editDone" (added)="add_banner($event)"></minds-banner>
</header>


<div [class]="'mdl-grid groups-grid newsfeed-grid m-group--' + filter" *ngIf="group && (group['is:member'] || group.membership == 2)"

>

  <!-- Sidebar -->
  <div class="mdl-cell mdl-cell--4-col m-group-info m-group--sidebar">

    <div class="mdl-card mdl-shadow--2dp">
      <minds-avatar [object]="group" [editMode]="editing" (added)="upload_avatar($event)"></minds-avatar>
      <!-- Name -->
      <div class="m-group-info-name mdl-color-text--blue-grey-800">

        <div [hidden]="editing || !group.name">
          <h1>
            <a class="m-isomorphic-link" [routerLink]="['/groups/profile', group.guid]">
              {{group.name}}
            </a>
          </h1>
        </div>

        <div *ngIf="editing && group['is:owner']">
          <input type="text" class="h1" name="name" [(ngModel)]="group.name" placeholder="Enter a name" i18n-placeholder="@@GROUPS__NAME_PLACEHOLDER" />
        </div>

      </div>

    <div class="m-group--stats mdl-tabs__tab-bar"
      [class.m-group--stats--narrow]="group['is:owner'] && group.membership != 2"
    >
      <a [routerLink]="['/groups/profile', group.guid, 'members']" class="mdl-tabs__tab mdl-color-text--blue-grey-500">
        <span i18n="@@M__COMMON__MEMBERS">Members</span>
        <b>{{group['members:count'] | number}}</b>
      </a>
      <a *ngIf="group['is:owner'] && group.membership != 2" [routerLink]="['/groups/profile', group.guid, 'requests']" class="mdl-tabs__tab mdl-color-text--blue-grey-500">
        <span i18n="@@GROUPS__PROFILE__REQUESTS_COUNT">Requests</span>
        <b>{{group['requests:count'] | number}}</b>
      </a>
      <a *ngIf="group['is:member'] || group.membership == 2" [routerLink]="['/groups/profile', group.guid, 'conversation']" class="mdl-tabs__tab mdl-color-text--blue-grey-500 m-group-conversation--link">
        <span i18n="@@GROUPS__CONVERSATIONS">Conversations</span>
        <b>
          <strong>{{ (group['comments:count'] || 0) | abbr }}</strong>
          <i class="m-group-conversation--link--new" [hidden]="!newConversationMessages"></i>
        </b>
      </a>
    </div>

    <div class="m-group--action-buttons">
      <minds-groups-join-button [group]="group" (membership)="change_membership($event)" *ngIf="(!group['is:creator'] || session.isAdmin()) && (!group['is:invited'] || group['is:member'])"></minds-groups-join-button>

      <span class="minds-button-edit" (click)="toggleEdit()" [hidden]="editing" *ngIf="group['is:owner']">
        <button class="material-icons">mode_edit</button>
      </span>
      <span class="minds-button-edit" (click)="save()" [hidden]="!editing" *ngIf="group['is:owner']">
        <button i18n="@@GROUPS__PROFILE__SAVE_CHANGES_ACTION">Save changes</button>
      </span>
      <minds-groups-settings-button [group]="group" class="m-button"></minds-groups-settings-button>

    </div>

    <!-- Brief description -->
    <div class="m-group-info-brief-description mdl-card__supporting-text" style="white-space: pre-line" [hidden]="editing || !group.briefdescription"  [innerHtml]="group.briefdescription | tags">
    </div>

    <div class="m-group-info-brief-description mdl-card__supporting-text" *ngIf="editing && group['is:owner']">
      <mwl-text-input-autocomplete-container>
        <textarea
          name="briefdescription"
          [autoGrow]
          [(ngModel)]="group.briefdescription"
          placeholder="Enter a brief description"
          i18n-placeholder="@@GROUPS__DESCRIPTION_PLACEHOLDER"
          mwlTextInputAutocomplete
          [findChoices]="findTrendingHashtags.bind(this)"
          [getChoiceLabel]="getChoiceLabel"
          [triggerCharacter]="'#'"
        >
        ></textarea>
      </mwl-text-input-autocomplete-container>
    </div>

      <!-- Tags -->
      <div class="m-group-info-tags">
        <div>
          <i class="material-icons">local_offer</i>
          <ng-container *ngIf="!editing && group.tags">
            <span *ngFor="let tag of group.tags">#{{tag}}</span>
          </ng-container>
          <m-hashtags-selector #hashtagsSelector
            [alignLeft]="true"
            [tags]="group.tags"
            (tagsChange)="onTagsChange($event)"
            (tagsAdded)="onTagsAdded($event)"
            (tagsRemoved)="onTagsRemoved($event)"
            *ngIf="editing && group['is:owner']"
          ></m-hashtags-selector> 
        </div>

      </div>

      <!-- Membership -->
      <div class="m-group-info-membership">

        <div [hidden]="editing || group.membership != 2">
          <i class="material-icons">public</i>
          <span i18n="@@GROUPS__OPEN_GROUP">Open Group</span>
        </div>

        <div [hidden]="editing || group.membership != 0">
          <i class="material-icons">lock</i>
          <span i18n="@@GROUPS__CLOSED_GROUP">Closed Group</span>
        </div>

        <div *ngIf="editing && group['is:owner']">
          <i class="material-icons">{{ group.membership == 2 ? 'public' : 'lock' }}</i>
          <select class="icon-prefix" name="membership" [ngModel]="group.membership" (change)="group.membership = $event.target.value">
            <option value="2" i18n="@@GROUPS__OPEN_GROUP">Open Group</option>
            <option value="0" i18n="@@GROUPS__CLOSED_GROUP">Closed Group</option>
          </select>
        </div>

      </div>

      <!-- Post moderation -->
      <div class="m-group-info-moderated" *ngIf="group['is:owner']">

        <div [hidden]="editing || group.moderated != 0">
          <i class="material-icons">rate_review</i>
          <span i18n="@@GROUPS__ANYONE_CAN_POST">Anyone can post</span>
        </div>

        <div [hidden]="editing || group.moderated != 1">
          <a [routerLink]="['/groups/profile', group.guid, 'review']">
            <i class="material-icons">rate_review</i>
            <span>
              <ng-container i18n="@@GROUPS__POSTS_ARE_MODERATED">Posts are moderated</ng-container>
              <b *ngIf="group['adminqueue:count']">
                (<ng-container i18n="@@GROUPS__PROFILE__ADMINQUEUE_COUNT">{{ group['adminqueue:count'] }} new</ng-container>)
              </b>
            </span>
          </a>
        </div>

        <div *ngIf="editing && group['is:owner']">
          <i class="material-icons">rate_review</i>
          <select class="icon-prefix" name="moderated" [ngModel]="group.moderated" (change)="group.moderated = $event.target.value">
            <option value="0" i18n="@@GROUPS__ANYONE_CAN_POST">Anyone can post</option>
            <option value="1" i18n="@@GROUPS__POSTS_ARE_MODERATED">Posts are moderated</option>
          </select>
        </div>

      </div>

      <!-- Default view -->
      <div class="m-group-info-moderated" *ngIf="group['is:owner']">

        <div [hidden]="editing || group.default_view != 0">
          <i class="material-icons">pageview</i>
          <span i18n="@@GROUPS__DEFAULT_VIEW_FEED">Default view: Feed</span>
        </div>

        <div [hidden]="editing || group.default_view != 1">
          <i class="material-icons">pageview</i>
          <span i18n="@@GROUPS__DEFAULT_VIEW_CONVERSATIONS">Default view: Conversations</span>
        </div>

        <div *ngIf="editing && group['is:owner']">
          <i class="material-icons">pageview</i>
          <select class="icon-prefix" name="default_view" [ngModel]="group.default_view" (change)="group.default_view = $event.target.value">
            <option value="0" i18n="@@GROUPS__DEFAULT_VIEW_FEED">Default view: Feed</option>
            <option value="1" i18n="@@GROUPS__DEFAULT_VIEW_CONVERSATIONS">Default view: Conversations</option>
          </select>
        </div>

      </div>

      <!-- Video calls -->
      <div class="m-group-info-video-calls" *ngIf="group['is:owner'] && session.isAdmin()">

        <div [hidden]="editing" *ngIf="group.videoChatDisabled == 0">
          <i class="material-icons">call</i>
          <span i18n="@@GROUPS__VIDEO_CALLS_ENABLED">Video calls enabled</span>
        </div>

        <div [hidden]="editing" *ngIf="group.videoChatDisabled == 1">
          <i class="material-icons">call</i>
          <span i18n="@@GROUPS__VIDEO_CALLS_DISABLED">Video calls disabled</span>
        </div>

        <div *ngIf="editing && group['is:owner']">
          <i class="material-icons">call</i>
          <select class="icon-prefix" name="video_calls" [ngModel]="group.videoChatDisabled" (change)="group.videoChatDisabled = $event.target.value">
            <option value="0" i18n="@@GROUPS__VIDEO_CALLS_ENABLED">Video calls enabled</option>
            <option value="1" i18n="@@GROUPS__VIDEO_CALLS_DISABLED">Video calls disabled</option>
          </select>
        </div>

      </div>

      <!-- Extra actions -->
      <div class="m-group-boost" *ngIf="session.isLoggedIn() && !editing && group['is:owner']">
        <i class="material-icons">trending_up</i>
        <minds-button-boost [object]="group"></minds-button-boost>
      </div>

    </div>

  <!-- members -->
  <m-group--members-module [group]="group" *ngIf="filter != 'conversation'">

    <a class="mdl-card__supporting-text mdl-color-text--grey-600" [routerLink]="['/groups/profile', group.guid, 'members']">
      <ng-container i18n="@@M__COMMON__VIEW_MORE">View More</ng-container>
    </a>
  </m-group--members-module>

    <!-- images  -->
   <m-channel--modules [container]="group" type="image" *ngIf="filter != 'conversation'">

      <a class="mdl-card__supporting-text mdl-color-text--grey-600" [routerLink]="['/media/images', 'container:' + group.guid]">
        <ng-container i18n="@@M__COMMON__VIEW_MORE">View More</ng-container>
      </a>
    </m-channel--modules>

    <div class="minds-spacer-2x"></div>

    <!-- videos  -->
    <m-channel--modules [container]="group" type="video" limit="6" *ngIf="filter != 'conversation'">

      <a class="mdl-card__supporting-text mdl-color-text--grey-600" [routerLink]="['/media/videos', 'container:' + group.guid]">
        <ng-container i18n="@@M__COMMON__VIEW_MORE">View More</ng-container>
      </a>
    </m-channel--modules>

  </div>


  <!-- Activity feed -->
  <minds-groups-profile-feed #feed [group]="group" [filter]="filter" class="mdl-cell mdl-cell--8-col" [ngClass]="{'m-group-closed': group.membership != 2}"
    *ngIf="filter == 'activity' || filter == 'review'">
  </minds-groups-profile-feed>
  <!-- END: Activity feed -->

  <!-- Members filter -->
  <minds-groups-profile-members [group]="group" class="mdl-cell mdl-cell--8-col" *ngIf="filter == 'members'">
  </minds-groups-profile-members>
  <!-- END: Members filter -->

  <!-- Requests Filter -->
  <minds-groups-profile-requests [group]="group" class="mdl-cell mdl-cell--8-col mdl-grid" *ngIf="filter == 'requests'">
  </minds-groups-profile-requests>
  <!-- END: Requests filter -->

  <!-- Conversation filter -->
  <minds-groups-profile-conversation [group]="group" class="mdl-cell mdl-cell--8-col" *ngIf="filter == 'conversation'">
  </minds-groups-profile-conversation>
  <!-- END: Conversation filter -->
</div>

<!-- IF A CLOSED GROUP AND NOT A MEMBER -->
<div class="m-group-closed-splash" *ngIf="group && !group['is:member'] && group.membership != 2">

  <minds-banner [object]="group" [top]="group.banner_position"></minds-banner>

  <div class="m-group-closed-splash-inner">

    <div class="m-group-avatar">
      <minds-avatar [object]="group" [editMode]="editing" (added)="upload_avatar($event)"></minds-avatar>
    </div>

    <div class="m-group-info-name mdl-color-text--blue-grey-800">
      <h1>{{group.name}}</h1>
    </div>


    <minds-groups-join-button [group]="group" (membership)="change_membership($event)"></minds-groups-join-button>

  </div>

</div>
